.search-container {
  height: auto;
  width: 750px;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: 0.3s ease-out;
}

.hidden {
  display: none !important;
}

.error-message {
  padding: 10px 20px;
  border: 1px solid rgb(193, 149, 149);
  background-color: rgb(255, 210, 224);
  border-radius: 5px;
  color: #000;
  margin: 40px 0 0 0;
}

.error-message button {
  margin-left: 15px !important;
  border: 0 !important;
  background: rgba(255, 255, 255, 0.5) !important;
  font-weight: bold;
  color: #000 !important;
  padding: 10px !important;
  height: 100% !important;
  width: 40px !important;
  border-radius: 50px !important;
}

.textbox-area {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.textbox-area button {
  flex-grow: 0;
}

.textbox-area .textbox {
  background-color: #fff;
  border: 1px solid rgba(94, 94, 94, 0.19);
  border-radius: 20px;
  height: 40px;
  margin: 5px 20px 5px 0;
  flex-grow: 3;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.textbox-area .textbox b {
  font-family: "Inter-SemiBold";
  font-size: 1.25rem;
  color: #30b0cc;
  padding: 0 5px 0 20px;
  height: 100%;
  line-height: 1.7em;
}

.textbox-area .textbox input[type="text"] {
  color: rgb(161, 161, 161);
  font-size: 0.93rem;
  border: 0;
  height: 100%;
  width: 100%;
  padding: 0 25px 0 0;
  letter-spacing: 0.1pt;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  transition: 0.3s ease-in;
  outline: 0;
}

input[type="text"]:focus {
  border: 1px solid #bbbbbb;
}

@media screen and (max-width: 900px) {
  .search-container {
    width: 650px !important;
  }
}

@media screen and (max-width: 850px) {
  .search-container {
    width: 550px !important;
  }
}

@media screen and (max-width: 600px) {
  .search-container {
    width: 100% !important;
  }
  .textbox-area {
    flex-direction: column;
  }
  .textbox-area .textbox {
    margin: 5px 0 20px 0 !important;
    width: 300px !important;
  }
}
