footer {
  border-top: 2px solid #ebebeb;
  padding: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

footer span {
  margin-bottom: 15px;
  font-size: 1.2rem;
  font-family: "Inter-Regular";
}

footer span b {
  color: #30b0cc;
}

footer p.disclaimer {
  color: #bbbbbb;
  text-align: center;
  font-size: 15px;
}

@media screen and (max-width: 500px) {
  footer {
    padding: 40px 20px !important;
  }
  footer span {
    font-size: 1rem;
  }
  footer p.disclaimer {
    font-size: 0.7rem;
  }
}
