@font-face {
  font-family: Inter-Light;
  src: url("./assets/fonts/Inter-Light.ttf");
}

@font-face {
  font-family: Inter-Regular;
  font-weight: 400;
  src: url("./assets/fonts/Inter-Regular.ttf");
}

@font-face {
  font-family: Inter-SemiBold;
  font-weight: 400;
  src: url("./assets/fonts/Inter-SemiBold.ttf");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter-Light";
}

body {
  background-color: #f3f3f3;
}

a:link,
a:hover,
a:visited,
a:active {
  font-weight: bold;
  text-decoration: underline;
  color: #30b0cc;
  outline: 0;
}

main h1 {
  margin-bottom: 50px;
}

main h1 b {
  font-size: 1.5rem;
  color: #30b0cc;
  margin: 0 5px;
}

button {
  background: linear-gradient(180deg, #ffffff 0%, #ffffff 0.01%, #e5e5e5 100%);
  border: 1px solid rgba(94, 94, 94, 0.19);
  font-family: "Inter-Regular";
  border-radius: 20px;
  vertical-align: middle;
  padding: 0 25px;
  height: 40px;
  cursor: pointer;
}

button:hover {
  filter: brightness(98%);
}

button img {
  background-repeat: no-repeat;
  vertical-align: middle;
  margin-right: 5px;
  height: 24px;
  width: 24px;
  border: 0px;
  outline: 0;
}

button.btn-primary {
  background: linear-gradient(180deg, #00e0ff 0%, #00e0ff 0.01%, #00d1ee 100%);
}

button.btn-secondary {
  background: linear-gradient(180deg, #e9e9e9 0%, #e9e9e9 0.01%, #cccccc 100%);
}

button.btn-arrow {
  padding: 0;
  margin-left: 10px;
  border-radius: 100px;
  height: 30px;
  width: 30px;
}

button.btn-arrow img {
  margin-right: 0;
  height: 18px;
  width: 18px;
}

.ml14 {
  margin-left: 14px;
}

.mr14 {
  margin-right: 14px;
}

.mb50 {
  margin-bottom: 50px;
}

.move-up {
  -webkit-animation: move-up 2s;
  animation: move-up 2s;
}

@keyframes move-up {
  from {
    opacity: 0;
    transform: translateY(30px);
  }
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}
